<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8" />
        <title>Komarno API</title>
        <style>
            
        </style>
    </head>
    <body>
        <div>
            <ul>
                <li><a href="/view/newevents">New events</a></li>
                <li><a href="/view/pastevents">Past events</a></li>
            </ul>
        </div>
    </body>
</html>
