<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8" />
        <title>Komarno API</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <%- include('./components/header') %>
        <div>
            <ul>
                <li><a href="/view/newevents">New events</a></li>
                <li><a href="/view/pastevents">Past events</a></li>
            </ul>
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>
