<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8" />
        <title>Минулі події</title>
    </head>
    <body>
        <div>
            FUCK
        </div>
    </body>
</html>
