.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262369;
    color: white;
    padding: 10px 20px;
    font-family: Raleway;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logout-btn {
    padding: 6px 12px;
    background-color: #ff4d4d;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #cc0000;
}
