html {
    font-size: 16px;
}

.newevent-form {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    width: 525px;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.eventlist-element-container {
    font-family: Raleway;
    display: flex;
    justify-content: space-between;
    color: white;

    margin-top: 2.2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.eventlist-element {
    display: flex;
    justify-content: space-between;
    width: 58vw;
    align-items: flex-start;
}

.eventlist-element-title {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 150%; /* 36px */
    text-transform: uppercase;

    overflow: hidden;
    color: var(--white-100);
    text-overflow: ellipsis;
    white-space: nowrap;

    display: -webkit-box;
    -webkit-line-clamp: 2; /* Обмеження до 2 рядків */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 17vw;
    white-space: initial;
    margin: 0;
}

.eventlist-element-date {
    color: var(--white-100);
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 150%;

    width: 9vw;
    margin: 0;
}

.eventlist-element-text {
    font-size: 1rem;
    font-weight: 300;
    line-height: 140%;

    overflow: hidden;
    color: var(--white-100);
    text-overflow: ellipsis;
    white-space: nowrap;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 26vw;
    white-space: initial;
    margin: 0;
}

.eventlist {
    background-color: #262369;
    padding: 1px 20px;
    width: 100%;
    box-sizing: border-box;
    color: white;
}

.btn-more {
    padding: 0.7rem 2.4rem;
    border-radius: 2rem;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.15);
    color: white;
}

.btn-more:hover {
    background-color: #262369;
    border-color: #262369;
}

.btn-more.red {
    border-color: red;
    color: rgb(255, 151, 151);
}

.btn-more.green {
    border-color: green;
    color: rgb(159, 255, 159);
}

textarea {
    resize: none;
    /* height: 6rem; */
    font-family: Raleway;
    overflow: hidden;
}

.hidden {
    display: none;
}
