<header class="header">
    <a href="/view">Головна</a>
    <div class="user-info">
        <span id="userEmailSpan"></span>
        <button class="logout-btn" onclick="logout()">Вийти</button>
    </div>
</header>
